<footer class="rc-footer">
<div class="rc-footer-inner">
<div class="links">
<h4>Shop</h4>
<ul>
<li>All Products</li>
<li>Categories</li>
</ul>
</div>


<div class="links">
<h4>Account</h4>
<ul>
<li>My Profile</li>
<li>Order History</li>
</ul>
</div>


<div class="links">
<h4>Help</h4>
<ul>
<li>Help Center</li>
<li>Track Order</li>
</ul>
</div>


<div class="store">
<p>© 2025 RevCart</p>
<div class="badges">
<img src="assets/appstore.png" alt="appstore" />
<img src="assets/playstore.png" alt="playstore" />
</div>
</div>
</div>
</footer>