.login-container {
  width: 100%;
  height: 100vh;
  background: #f4fefa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 420px;
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.login-icon img {
  width: 60px;
  margin-bottom: 10px;
}

h2 {
  margin: 10px 0;
  color: #0a7f4f;
  font-size: 26px;
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  font-size: 15px;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-row input {
  width: 75%;
}

.forgot {
  margin-left: 10px;
  color: #0a7f4f;
  font-size: 14px;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #0abf74;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

.signup-text {
  margin-top: 20px;
  color: #555;
}

.signup-text a {
  color: #0abf74;
  font-weight: 600;
}

.demo-section {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}
